<div class="container mt-5" class="background-image">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            
            <h3>Actividades</h3>
          </div>
          <div class="card-body">
            <button class="btn btn-primary w-100" (click)="redirectTo('tareas')">Tarea</button>
            <button class="btn btn-primary w-100" (click)="redirectTo('proyecto')">Proyecto</button>
            <button class="btn btn-primary w-100" (click)="redirectTo('graficas')">Graficas</button>
          </div>
        </div>
      </div>
    </div>
  </div>